{{#if message}}
<h4>{{message}}</h4>
{{else}}
<table>
    <tr>
        <td>IH Name:</td>
        <td class="data">{{{link_person user}}}</td>
    </tr>
    <tr>
        <td>IH Email:</td>
        <td class="data">{{email}}</td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td class="data">{{phone}}</td>
    </tr>
    <tr>
        <td>Role:</td>
        <td class="data">{{role}}</td>
    </tr>
    <tr>
        <td>Repeat Guest:</td>
        <td class="data">{{repeat}}</td>
    </tr>
    <tr>
        <td>Had Problems:</td>
        <td class="data">{{had_problems}}</td>
    </tr>
    <tr>
        <td>Caused Problems:</td>
        <td class="data">{{caused_problems}}</td>
    </tr>
</table>
<hr>
{{#if notes}}
<h4 class="expand">+ User-Notes</h4>
<div class="hidden">

    <table>
        {{#each notes}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}} {{#if reservations}}
<br>
<h4 class="expand">+ Reservations({{{length reservations}}})</h4>
<div class='hidden'>
    {{#each reservations}}
    <div>
        <table>
            <tr>
                <td>ID:</td>
                <td>{{{link_reservation this}}}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{this.status}}</td>
            </tr>
            <tr>
                <td>Kind:</td>
                <td>{{this.kind}}</td>
            </tr>
            <tr>
                <td>Stay Reason:</td>
                <td>{{this.reason}}</td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td>{{this.start}}</td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td>{{this.end}}</td>
            </tr>
            <tr>
              <td>Unit(s):</td>
              <td>{{{link_wiki this}}}</td>
            </tr>
            <tr>
              <td>Search Locations:</td>
              <td>{{this.search_location}}</td>
            </tr>
            <tr>
                <td>Ready For Guest:</td>
                <td>{{this.ready_for_guest}}</td>
            </tr>
        </table>
        <div class='indent'>
            {{#if notes}}
            <h5 class="expand">+ Notes</h5>
            <ul class='hidden'>
                {{#each this.notes}}
                <li>
                    {{this}}
                </li>
                {{/each}}
            </ul>
            {{/if}}
            <h5 class="expand">+ Services</h5>
            <ul class='hidden'>
                {{#each this.services}}
                <li>
                    {{this.id}}: {{this.name}} - {{this.date}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <hr> {{/each}}
</div>
{{/if}} {{#if units}}
<h4 class="expand">+ Units({{{length units}}})</h4>
<div class="hidden">
    {{#each units}}
    <table>
        <tr>
            <td>ID:</td>
            <td>{{{link_unit this}}}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{this.unit_name}}</td>
        </tr>
        <tr>
            <td>Search Location:</td>
            <td>{{this.search_location}}</td>
        </tr>
        <tr>
            <td>IH Start Date:</td>
            <td>{{this.start_date}}</td>
        </tr>
        <tr>
            <td>Booked Revenue:</td>
            <td>${{this.booked_revenue}}</td>
        </tr>
        <tr>
            <td>Paid Revenue:</td>
            <td>${{this.actual_revenue}}</td>
        </tr>
    </table>
    <div class='indent'>
        {{#if this.other_owners}}
        <h5 class="expand">+ Other-Owners({{{length this.other_owners}}})</h5>
          {{#each this.other_owners}}
          <div class="hidden">
            <table>
              <tr>
                <td>First Name</td>
                <td>{{this.first_name}}</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{this.last_name}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{this.email}}</td>
              </tr>
              <tr>
                <td>Phone_number</td>
                <td>{{this.phone_number}}</td>
              </tr>
            </table>        
            <hr>
          </div>
          {{/each}}
        {{/if}}
        {{#if this.owner_owner_guest_reservations}}
        <h5 class="expand">+ Owner-Reservations({{{length this.owner_owner_guest_reservations}}})</h5>
        <ul class='hidden'>
            {{#each this.owner_owner_guest_reservations}}
            <li>
                {{{link_reservation this}}}: {{this.start_date}} - {{this.end_date}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
        {{#if this.upcoming_reservations}}
        <h5 class="expand">+ Upcoming-Reservations({{{length this.upcoming_reservations}}})</h5>
        <ul class='hidden'>
            {{#each this.upcoming_reservations}}
            <li>
                {{{link_reservation this}}}: {{this.start_date}} - {{this.end_date}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
        {{#if this.completed_reservations}}
        <h5 class="expand">+ Completed-Reservations({{{length this.completed_reservations}}})</h5>
        <ul class='hidden'>
            {{#each this.completed_reservations}}
            <li>
                {{{link_reservation this}}}: {{this.start_date}} - {{this.end_date}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
        {{#if this.future_work_orders}}
        <h5 class="expand">+ Future-Services({{{length this.future_work_orders}}})</h5>
        <ul class='hidden'>
            {{#each this.future_work_orders}}
            <li>
                {{this.id}}: {{this.name}} - {{this.due_date}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <hr>{{/each}}
</div>
{{/if}} {{/if}}